<div class="card" style="width: 18rem; margin: 20px;">
  <div class="card-body">
    <h5 class="card-title">Información del Huésped</h5>

    <p class="card-text"><strong>Nombre:</strong> {{ viajero.nombre }} {{ viajero.apellido }}</p>

    <p class="card-text"><strong>DNI:</strong> {{ viajero.dni }}</p>

    <p class="card-text"><strong>Fecha de Ingreso:</strong> {{ viajero.fechaIngreso }}</p>

    <p class="card-text"><strong>Fecha de Salida:</strong> {{ viajero.fechaSalida }}</p>

    <p class="card-text"><strong>Habitación:</strong> {{ viajero.habitacion }}</p>

    <button class="btn btn-primary" (click)="updateViajero()">Modificar</button>
    <button class="btn btn-danger" >Borrar</button>
  </div>
</div>

